@import url('https://fonts.googleapis.com/css?family=Manrope');

:root {
    --white: #f2f3e2;
    --black: #131310;
}

body {
    background-color: var(--black);
    font-family: "Manrope";
}

.row {
    border: 1px solid var(--white);
    border-radius: 15px;
    padding: 15px;
    transform: scale(1);
    -webkit-transition: transform 0.1s ease-in-out;
}

.row > img {
    border: 1px solid var(--white);
    border-radius: 15px;
    width: 180px;
    height: 180px;
}

.row:hover {
    background-color: var(--white);
    cursor: pointer;
    transform: scale(1.05);
    -webkit-transition: transform 0.1s ease-in-out;
}

.row:hover h3 {
    color: var(--black);
}

.row:hover h4 {
    color: var(--black);
}

.row:hover p {
    color: var(--black);
}

.row:hover img {
    border: 1px solid var(--black);
}

h5 {
    color: var(--white);
    font-size: 18px;
    font-weight: 100;
    margin: auto;
    padding-top: 10px;
}

.copyright {
    margin-bottom: 20px;
}

.github {
    padding-left: 10px;
    transform: scale(1);
    -webkit-transition: transform 0.1s ease-in-out;
}

.github > img {
    width: 40px;
    height: 40px;
}

.github:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transition: transform 0.1s ease-in-out;
}

h3 {
    margin-top: 0;
    color: var(--white);
    font-size: 36px;
    margin-bottom: 0;
    font-weight: 900;
}

h4 {
    margin-top: 0;
    color: var(--white);
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    color: var(--white);
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 0px;
}

.button {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin-right: auto;
}

.back {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--white);
    border-radius: 15px;
}

.back:hover {
    cursor: pointer;
    background-color: var(--white);
}

.back:hover > p {
    color: var(--black);
}

.back > p {
    color: var(--white);
    padding: 10px;
    max-height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
}

.center {
    position: absolute;
    margin-top: 30px;
    width: 850px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1000px) {
    .center {
        margin-top: 3vw;
        width: 85%;
    }

    .back {
        border-radius: 1.5vw;
    }

    .back > p {
        padding: 1vw;
    }

    p {
        font-size: 1.8vw;
    }

    .github {
        padding-left: 1vw;
    }

    .github > img {
        width: 4vw;
        height: 4vw;
    }

    .row {
        gap: 1.5vw;
        margin-top: 1.5vw;
        padding: 1.5vw;
    }

    h3 {
        font-size: 3.6vw;
    }

    h4 {
        font-size: 1.4vw;
    }

    .row > img {
        width: 18vw;
        height: 18vw;
        border-radius: 1.5vw;
    }

    h5 {
        font-size: 1.8vw;
    }

    .copyright {
        margin-bottom: 2vw;
    }
}